@charset "UTF-8";

.content{
	margin: 30px;
}

.form-control{
	width: 70%;
}

.saveWorkout{
	border: none;
	padding: 5px;
	margin-top:20px;
	border-radius:5px;
	background-color:#2616b1;
	color: white;
}

.saveWorkout:hover{
	color: black;
}

#weekList {
	width: 0%;
	height: 0%;
	visibility: hidden;
}