@charset "UTF-8";

.content{
	margin: 30px;
}

.weekButton{
	border: none; 
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	border-radius:5px;
	background-color:#2616b1; 
	color: white;
}

.weekButton:hover{
	text-decoration: none;
	background-color:#2616b1; 
	color: black;
}

.addWorkout{
	border: none;
	padding: 5px;
	margin-right:20px;
	border-radius:5px;
	background-color:#2616b1; 
	color: white;
}
.addWorkout:hover{
	text-decoration: none;
	background-color:#2616b1; 
	color: black;
}

.listWorkouts{
	border: none;
	padding: 5px;
	margin-right:20px;
	border-radius:5px;
	background-color:#2616b1; 
	color: white;
}

.listWorkouts:hover{
	text-decoration: none;
	background-color:#2616b1; 
	color: black;
}

.logWorkout{
	border: none;
	padding: 5px;
	margin-right:20px;
	border-radius:5px;
	background-color:#2616b1; 
	color: white;
}
.logWorkout:hover{
	text-decoration: none;
	background-color:#2616b1; 
	color: black;
}
