<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>add question</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="/css/addworkout.css">
</head>
<body>
	<div class="content">
		<div class="header">
			<h1>Add workout</h1>
		</div>
		<div class="addWorkoutForm">
		    <form th:object="${workout}" th:action="@{../saveworkout}" action="#" method="post">
		        <div class="form-row">
					<table class="table table-striped">
						<tr th:each="workout : ${workouts}">
							<td th:text="${workout.exercise}">Exercise</td>
							<td th:text="${workout.sets}">Sets</td>
							<td th:text="${workout.reps}">Reps</td>
							<td th:text="${workout.weight}">Weight</td>
						</tr>
					</table>
					<div class="col">

						<select id="weekList" th:field="*{week}" class="form-control">
				            <option th:each="week:${week}" th:value="${week.id}" th:text="${week.id}"></option>
				        </select>

					</div>
					<br>
					<label for="group">Group</label>
					<input type="text" id="group" th:field="*{group}">

					<label for="exercise">Exercise</label>
					<input type="text" id="exercise" th:field="*{exercise}">
					
					<label for="sets">Sets</label>
					<input type="text" id="sets" th:field="*{sets}">
		
					<label for="reps">Reps</label>
					<input type="text" id="reps" th:field="*{reps}">
		
					<label for="weight">Weight</label>
					<input type="text" id="weight" th:field="*{weight}">
				</div>
		        <input class="saveWorkout" type="submit" value="Save Workout"></input>
		    </form>
		</div>
		<br>
		<a href="/weeklist">Back to Weeks</a>
	</div>
</body>
</html>