<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Week list</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="/css/weeklist.css" type="text/css">
</head>
<body>
	<div class="content">
		<div class="header">
			<h1 style="text-align:center;" inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
		</div>
		<div sec:authorize="hasAuthority('ADMIN')" class="createWeek">
		    <form th:object="${week}" th:action="@{../save}" action="#" method="post">
				<input class="weekButton" type="submit" value="Add new week"></input>
		    </form>
	    </div>
		<div class="col-md-4" style="padding:20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Log out" class="btn btn-sm btn-danger"/>
			</form>
		</div>
		<h2>Weeks</h2>
		<table class="table table-striped">
			<tr>
				<th>Week</th>
			</tr>
			<tr th:each="week : ${weeks}">
				<td th:text="${week.number}">Week</td>
				<td style="width:300px;">
					<a class="listWorkouts" th:href="@{/listworkouts/{id}(id=${week.number})}">Open routine</a>
					<a sec:authorize="hasAuthority('ADMIN')" class="addWorkout" th:href="@{/addworkout/{id}(id=${week.number})}">Add workout</a>
				</td>
		
			</tr>
		</table>
	</div>
</body>
</html>