<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Querylist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="/css/weeklist.css" type="text/css">
</head>
<body>
	<div class="content">
		<div class="header">
			<h1>Weeks</h1>
		</div>
		
		<div class="createWeek">
			<a href="/addweek">
				<button class="weekButton">Create new Week</button>
			</a>
		</div>
		 
		<table class="table table-striped">
			<tr>
				<th>Week</th>
			</tr>
			<tr th:each="week : ${weeks}">
				<td th:text="${week.number}">Week</td>
				<td style="width:300px;">
					<a class="listWorkouts" th:href="@{/listworkouts/{id}(id=${week.number})}">Open Workouts</a>
					<a class="addWorkout" th:href="@{/addworkout/{id}(id=${week.number})}">Add Workout</a>
				</td>
		
			</tr>
		</table>
	</div>
</body>
</html>